<h2>Leaderboard</h2>
<div id="leaderboard"></div>

<script>
  const leaderboard = document.getElementById("leaderboard");

  function getCollaborators() {
    return fetch(
      "https://api.github.com/repos/MLH-Fellowship/prep-portfolio-23.MAR.PREP.2/contributors"
    ).then((res) => res.json());
  }

  async function displayCollaborators() {
    function sortCollaboratorsByNumberOfContributions(collaboratorData) {
      return collaboratorData.sort((a, b) => b.contributions - a.contributions);
    }

    function createCollaboratorCard({
      login: username,
      avatar_url,
      url,
      contributions,
    }) {
      const card = document.createElement("div");
      card.className = "card";

      const avatar = document.createElement("img");
      avatar.src = avatar_url;

      const name = document.createElement("p");
      name.className = "username";
      name.textContent = username;

      const numberOfContributions = document.createElement("p");
      numberOfContributions.className = "contributions"
      numberOfContributions.textContent = contributions;

      card.append(avatar, name, numberOfContributions);
      leaderboard.append(card);
    }

    const collaboratorData = await getCollaborators();
    const sortedCollaboratorData =
      sortCollaboratorsByNumberOfContributions(collaboratorData);

    sortedCollaboratorData.forEach(createCollaboratorCard);
  }

  displayCollaborators();
</script>
