#leaderboard .card {
  min-width: 250px;
  max-width: 400px;

  margin: auto;

  border-radius: 6px;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 16px;

  & img {
    --size: 48px;
    height: var(--size);
    width: var(--size);

    display: block;
    border-radius: 50%;

    border: 2px solid #a7a7a7;
  }

  & p {
    margin: 0;
  }

  & .contributions {
    margin-left: auto;
  }
}
